# Lists methods and attributes of Python :

In [1]:
L1 = []
L2 = [0 , 1 , 2 , 3 , 4 , 5]
L3 = [ 2 , " Boxes", 5.2 , 6 , "packets"]
print(L3)

[2, ' Boxes', 5.2, 6, 'packets']

In [2]:
emptylist = list()

In [3]:
thelist =[1,2,3,4,5,]
thelist

[1, 2, 3, 4, 5]

In [4]:
list1 =([1 , 2 ,3 ,[1.1 , 2.2 , 3.3, ]])
list1

[1, 2, 3, [1.1, 2.2, 3.3]]

In [5]:
len(list1)

4

In [6]:
list2 = [1,3,5,7,9,11,13,15,17,19,21,23,25,27,29,]

In [7]:
List2 = [iter for iter in range(2)]
print(list2)

[1, 3, 5, 7, 9, 11, 13, 15, 17, 19, 21, 23, 25, 27, 29]

In [8]:
listofasiancountries = ["Pakistan","China","India","Sri Lanka","Bangladesh","Bhutan","Nepal"]
firstLetters = [ country[0] for country in listofasiancountries ]
print(firstLetters)
midLetters = [ country[3] for country in listofasiancountries ]
print(midLetters)
Letters = [ country for country in listofasiancountries ]
print(Letters)

['P', 'C', 'I', 'S', 'B', 'B', 'N']
['i', 'n', 'i', ' ', 'g', 't', 'a']
['Pakistan', 'China', 'India', 'Sri Lanka', 'Bangladesh', 'Bhutan', 'Nepal']

In [9]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
oddMonths = [iter for index, iter in enumerate(months) if (index%2 == 0)]
oddMonths

['jan', 'mar', 'may', 'jul', 'sep', 'nov']

In [10]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
evenMonths = [iter for index, iter in enumerate(months) if (index%2 == 1)]
evenMonths

['feb', 'apr', 'jun', 'aug', 'oct', 'dec']

In [11]:
months = ['jan', 'feb', 'mar', 'apr', 'may', 'jun', 'jul', 'aug', 'sep', 'oct', 'nov', 'dec']
type(months)

list

In [12]:
gadgetlist = ["mobile","computer","laptop"]
gadgetlist.append("tablets")
print(gadgetlist)

['mobile', 'computer', 'laptop', 'tablets']

In [13]:
gadgetlist = ["mobile","computer","laptop"]
print(gadgetlist)
gadgetlist.append("tablets")
print(gadgetlist)

['mobile', 'computer', 'laptop']
['mobile', 'computer', 'laptop', 'tablets']

In [14]:
x  = [1,2,3,4,5,8,9]
x.insert(6,7)
print(x)

[1, 2, 3, 4, 5, 8, 7, 9]

In [15]:
x = [1,2,3,4,5,6,7,8,9]
x.remove(4)
print(x)

[1, 2, 3, 5, 6, 7, 8, 9]

In [16]:
x = [9,8,7,6,5,4,3,2,1]
print(x.pop(5))
print(x)

4
[9, 8, 7, 6, 5, 3, 2, 1]

In [17]:
x = [1,3,5,7,9,]
print(x.count(9))
print(x)

1
[1, 3, 5, 7, 9]

In [18]:
a = [2,4,6,8,10]
print(a.extend("35"))
print(x)

None
[1, 3, 5, 7, 9]

In [19]:
x = [1,2,3,4,5,6,7,8,9]
x.reverse()
print(x)

[9, 8, 7, 6, 5, 4, 3, 2, 1]

In [20]:
a = [1,2,3,4,5,6,7]
a.clear()
print(a)

[]

In [21]:
cars = ["toyota","suzuki","nissan","honda"]
luxury_cars = ["audi","fiat","renault","volkswagn"]
cars.extend(luxury_cars)
print(cars)

['toyota', 'suzuki', 'nissan', 'honda', 'audi', 'fiat', 'renault', 'volkswagn']

In [22]:
cars.remove('honda')
print(cars)

['toyota', 'suzuki', 'nissan', 'audi', 'fiat', 'renault', 'volkswagn']

In [23]:
print(cars)
print(cars.index('audi'))

['toyota', 'suzuki', 'nissan', 'audi', 'fiat', 'renault', 'volkswagn']
3

In [24]:
cars2 = cars.copy()
print(cars2)

['toyota', 'suzuki', 'nissan', 'audi', 'fiat', 'renault', 'volkswagn']

In [25]:
cars_mileage = [76,76,74,93,85,84,80]
print(cars_mileage )
cars_mileage.sort()
print(cars_mileage )

[76, 76, 74, 93, 85, 84, 80]
[74, 76, 76, 80, 84, 85, 93]

In [31]:
List1 = [1, 2, 3, 4, 5, 6, 7, 8, 9] 
print(sum(List1))

45

In [35]:
min(List1)

1

In [36]:
max(List1)

9

In [37]:
List1 [3]

4

In [38]:
points= [2.3, 4.445, 3, 5.33, 2.5] 
sorted(points) 
sum(points)

17.575000000000003

In [39]:
["hmmm"]*5

['hmmm', 'hmmm', 'hmmm', 'hmmm', 'hmmm']

In [40]:
[1,5,9,9] + [9,52,54,5,6]

[1, 5, 9, 9, 9, 52, 54, 5, 6]

In [41]:
3 in [1,2,4,5]

False

In [42]:
5 in [1,2,4,5]

True

In [43]:
init = [1,2]*5
print(init)

[1, 2, 1, 2, 1, 2, 1, 2, 1, 2]

In [44]:
two = [ [2]*5]*9

In [45]:
L1 = ['a', 'b']
L2 = [1, 2]
L3 = ['Learn', 'Python']
L1 + L2 + L3
['a', 'b', 1, 2, 'Learn', 'Python']

['a', 'b', 1, 2, 'Learn', 'Python']

In [46]:
vowels = ['a','e','i','o','u']
consonants = ['b', 'c', 'd', 'f', 'g', 'h', 'j', 'k', 'l', 'm', 'n', 'p', 'q', 'r', 's', 't', 'v', 'w', 'x', 'y', 'z']
print(vowels[2])
print(vowels[3])
print(vowels[4])

alphabets = [vowels, consonants]

print(alphabets[1][16]) 
print(alphabets[1][15])
print(vowels[2:3])
print(consonants[6:9])
id(vowels[::2])

i
o
u
v
t
['i']
['j', 'k', 'l']

1089376798984

In [47]:
theList1 = ['Python', 'C', 'C++', 'Java', 'CSharp']

for language in theList1:
 print("I like", language)

I like Python
I like C
I like C++
I like Java
I like CSharp

In [48]:
theList1 = ['Python', 'C', 'C++', 'Java', 'CSharp']

theList1[4] = 'Angular'
print(theList1)

theList1[1:4] = ['Ruby', 'TypeScript', 'JavaScript'] 
print(theList1)

['Python', 'C', 'C++', 'Java', 'Angular']
['Python', 'Ruby', 'TypeScript', 'JavaScript', 'Angular']

In [49]:
type(theList1)

list

#            THE END!!!